/* HEADER */
header{
    background-color: #EAC926;
    padding: 20px;
}

.header--div--conteiner {
    display: flex;
    flex-wrap: nowrap;
}

.header--div {
    width: 50%;
    height: 65.2px;
    display: flex;
  /*   flex-wrap: wrap; */
    align-items: center;
}

.logo  {
    height: 100%; 
    width: 100%;
    
}

.header--div--form {
    width: 100%;
    display: flex; 
    margin-left: 10px; 
    height: 60%;
}

.header--di-v--form input {
    width: 100%; 
    margin: 0;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.header--div--form button {
    position: absolute;
    right: 20px;
    background-color: white;
    padding: 3px;
    border: none; 
    display: flex;
    align-self: center;
}

.header--div--form i {
    color: rgb(197, 195, 195);
}

.header--p {
    text-align: center;
    margin: 20px auto;
}

.header--navbar {
    display: none;
}

.header--navbar ul {
    margin-left: 0px;
    list-style-type:none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.burger-menu {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.burger-menu i {
    padding: 9px 10px;
    color: white;
    background-color:  #1259c3; 
    border-radius: 5px;
    font-size: 20px;
}

/* MAIN */
main {
    margin: auto;
    width: 90%;
}

.mai--section--h2{
    font-size:  24px;
}

.main--section--article {
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
}

.main--section--article img{
    width: 100%;
}

.main--section--article div {
    display: flex;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.main--section--article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precios {
    font-size: 18px;
    margin: 0;
}

.descuentos {
    font-size: 16px;
    margin: 0;
    color: rgba(0, 128, 0, 0.747);
}

.descripciones{
    font-size: 16px;
    display: none; 
} 

/* FOOTER */

footer {
    text-align: center;
}

.header--div--icon {
    color:#1259c3 ;
    margin-bottom: 10px;
    font-size: 2em;
}

.footer--section--h2 { 
    margin-bottom: 0%;
}

.footer--section--p{ 
    margin-top: 2px;
}


.ultimo--p { 
    margin-top: 50px;
}
/* 
-------------------------------------------------
  */
@media (min-width: 361px){
     /* HEADER */

     header{
        display: flex;
        flex-wrap: wrap;
    }

     .header--div--conteiner {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
    }

     .header--div {
        display: flex;
        align-items: center;
    }

    .header--div--form {
        display: flex; 
        height:auto;
    }
    
    .header--div--form input {
        width: 100%; 
        margin: 0;
        border: 1px solid #141414;
        border-radius: 10px;
        width: 100%;
    }

    .header--div--form button {
        position: initial;
        padding: 0;
        border: 1px solid #141414; 
        display: block;
        /* align-self: center; */
    }

    .header--div--form i {
        color: #464646;
        padding: 3px;
        font-size: smaller;
    }

    .header--p {
        width: 33%;
        margin-left: 2%;
    }

    .header--navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        gap: 20px;
    }

    .header--navbar ul {
        display: flex; 
        gap: 10px;
    }

    .header--navbar ul li {
        display: inline-block;
        font-size: 72%;
    }

    .header--navbar a {
        display: inline-block;
        font-size: 100%;
    }

    .burger-menu {
        display: none;
    }

    /* MAIN */
    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main--section--h2 {
        margin: 20px 0;
    }

    .main--section--article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .descripciones{
        display: block;
    } 
}

@media (min-width: 769px){
    .main--ection--article {
        width: 22%;
    }
    
}